@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel
<br>
<div class="card" id="documentCard">
    <div class="card-header">
    </div>
    <div class="card-body" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Title">@Model.Text</label>
                <p>Upload one or more files:</p>
                <input asp-for="DocumentAnswer" type="file" multiple />
                <span asp-validation-for="DocumentAnswer" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Id">
            <input type="hidden" asp-for="@Model.Type">
            <input type="hidden" asp-for="@Model.IsRequired">
            <input type="hidden" asp-for="@Model.OrderNumber">
            <input type="hidden" asp-for="@Model.FileNumberLimit">
            <input type="hidden" asp-for="@Model.FileSizeLimit">
        </div>
    </div>
</div>
