@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br>
<div class="card" id="documentCard">
    <div class="card-header">
        Document Question
        <button id="@Model.OrderNumber" name="deleteQuestion" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" placeholder="Type document question here..."/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <select asp-for="FileNumberLimit" class="browser-default custom-select col-md-4" id="fileNumber">
                <option selected>File number limit</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <select asp-for="FileSizeLimit" class="browser-default custom-select col-md-4" id="fileLimit">
                <option selected>File size limit</option>
                <option value="1">1 MB</option>
                <option value="10">10 MB</option>
                <option value="100">100 MB</option>
                <option value="1000">1 GB</option>
            </select>

            <div class="custom-control custom-switch float-right" style="display: flex; justify-content: space-around">
                <input asp-for="IsRequired" type="checkbox" class="custom-control-input" id="@Model.OrderNumber + document1">
                <label class="custom-control-label" for="@Model.OrderNumber + document1">Required</label>
            </div>
        </div>
    </div>
</div>


<br>

@Html.Hidden("OrderNumber", Model.OrderNumber)
@Html.Hidden("Id", Model.Id)
@Html.Hidden("Type", Model.Type)
@Html.Hidden("EditMode", Model.EditMode)


<script>
    $("button[name='deleteQuestion']").on('click', function () {
       $(this).parent().parent().remove();
        let orderNumber = $(this).attr('id');
        document.getElementById('Current').value = orderNumber;
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: '/Form/DeleteQuestion',
            success: function (partialView) {
                $('#detailsContainer').html(partialView);
            }
        });
    });
</script>
