@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br></br>
<div class="card">
    <div class="card-header">
        Option Question
        <button id="@Model.OrderNumber" name="deleteQuestion" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" placeholder="Type option question here..."/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div id="optionsDiv">
                @for (int i = 0; i < Model.Options.Count; i++)
                {
                    <button id="@Model.OrderNumber" value="@i" name="deleteOption" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@Model.Options[i].Text" class="control-label">Option @i:</label>
                        <input asp-for="@Model.Options[i].Text" class="form-control" placeholder="Option @i"/>
                        <span asp-validation-for="@Model.Options[i].Text" class="text-danger"></span>
                    </div>
                }
            </div>
            <hr>
            <div id="container">
                <div id="block1">
                    <button name="addOption" type="button" id="@Model.OrderNumber" class="btn btn-primary float-left">+</button>
                </div>
                <div id="block2">
                    <div class="custom-control custom-switch float-right" style="display: flex; justify-content: space-around">
                        <input asp-for="IsRequired" type="checkbox" class="custom-control-input" id="@Model.OrderNumber + option1">
                        <label class="custom-control-label" for="@Model.OrderNumber + option1">Required</label>
                    </div>
                    <div class="custom-control custom-switch float-right">
                        <input asp-for="IsMultipleAnswerAllowed" type="checkbox" class="custom-control-input" id="@Model.OrderNumber + option2">
                        <label class="custom-control-label" for="@Model.OrderNumber + option2">Multiple answers</label>
                    </div>
                </div>
            </div>
            @Html.Hidden("OrderNumber", Model.OrderNumber)
            @Html.Hidden("Type", Model.Type)
            @Html.Hidden("ToRemove", Model.ToRemove)
            @Html.Hidden("Id", Model.Id)
            @Html.Hidden("EditMode", Model.EditMode)
        </div>
    </div>
</div>

<br></br>
<script>

    $("button[name='addOption']").on("click", function addOption() {
        let orderNum = $(this).attr('id');
        document.getElementById('Current').value = orderNum;
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: '/OptionQuestion/CreateOption',
            success: function (partialView) {
                console.log("partialView: " + partialView);
                $('#detailsContainer').html(partialView);
            }
        });
    });
    $("button[name='deleteOption']").on("click", function deleteOption() {
        document.getElementById('Current').value = $(this).attr('id');
        let option = $(this).attr('value');
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: `/OptionQuestion/DeleteOption/${option}`,
            success: function (partialView) {
                console.log("partialView: " + partialView);
                $('#detailsContainer').html(partialView);
            }
        });
        });

    $("button[name='deleteQuestion']").on('click', function () {
         let orderNumber = $(this).attr('id');
        //let collection = document.getElementById('Questions').value;
        //collection.remove(orderNumber);
        document.getElementById('Current').value = orderNumber;
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: '/Form/DeleteQuestion',
            success: function (partialView) {
                //$("body").html(data);
                $('#detailsContainer').html(partialView);
            }
        });
    });</script>


