@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br></br>
<div class="card" id="textCard">
    <div class="card-header">
        Text Question
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="Title">@Model.Text</label>
                    <input type="hidden" asp-for="@Model.Text" />
                </div>
                <input type="hidden" asp-for="@Model.Id">
            </div>
            @if (@Model.IsMultipleAnswerAllowed)
            {
                int counter = 0;
                for (int i = 0; i < Model.Options.Count; i++)
                {

                    <div class="custom-control custom-checkbox">
                        <input asp-for="@Model.OptionQuestionAnswer[i]" type="checkbox" class="custom-control-input" id="@counter+@Model.OrderNumber">
                        <label class="custom-control-label" for="@counter+@Model.OrderNumber">@Model.Options[i].Text</label>
                    </div>
                    counter++;
                }
            }
            else
            {
                int counter = 0;
                for (int i = 0; i < Model.Options.Count; i++)
                {
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="@Model.OptionQuestionAnswer[i]" value="true" class="custom-control-input" id="@counter+@Model.OrderNumber" name="groupOfDefaultRadios">
                        <label class="custom-control-label" for="@counter+@Model.OrderNumber">@Model.Options[i].Text</label>
                    </div>
                    counter++;
                }
            }
        </div>
    </div>
</div>
<br></br>

