@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br></br>
<div class="card" id="textCard">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="Title">@Model.Text</label>
                    <input type="hidden" asp-for="@Model.Text" />
                </div>
                <input type="hidden" asp-for="@Model.Id">
                <input type="hidden" asp-for="@Model.Type">
            </div>
            @if (@Model.IsMultipleAnswerAllowed)
            {
                for (int i = 0; i < Model.Options.Count; i++)
                {
                    <div class="custom-control custom-checkbox">
                        <input asp-for="@Model.OptionQuestionAnswerCheckbox[i]" type="checkbox" class="custom-control-input" id="@i+@Model.OrderNumber">
                        <label class="custom-control-label" for="@i+@Model.OrderNumber">@Model.Options[i].Text</label>
                    </div>
                    <span asp-validation-for="@Model.OptionQuestionAnswerCheckbox[i]" class="text-danger"></span>
                }
            }
            else
            {
                for (int i = 0; i < Model.Options.Count; i++)
                {
                    <div class="custom-control custom-radio">
                        <input type="radio" asp-for="@Model.OptionQuestionAnswerRadio" value="@Model.Options[i].Text" class="custom-control-input" id="@i+@Model.OrderNumber">
                        <label class="custom-control-label" for="@i+@Model.OrderNumber">@Model.Options[i].Text</label>
                    </div>
                    <span asp-validation-for="@Model.OptionQuestionAnswerRadio" class="text-danger"></span>

                }
            }
        </div>
    </div>
</div>
<br></br>

