@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel


<h4>OptionsQuestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="control-label"></label>
            <input asp-for="Text" class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div id="optionsDiv">

            @foreach (var item in Model.Options)
            {
                @Html.TextBoxFor(m => m.Text)
            }
            @*@for (int i = 0; i < Model.Options.Count(); i++)
            {
                @Html.EditorFor(x => Model.Options)
            }*@
        </div> 
        <hr>
        <button name="addOption" type="button" id="@Model.OrderNumber" class="btn btn-primary">+</button>

        @Html.Hidden("OrderNumber", Model.OrderNumber)
        @*@Html.Hidden("Options", Model.Options)*@
        @Html.Hidden("Type", Model.Type)
    </div>
</div>

<script>

 $("button[name='addOption']").on("click", function addOption () {
    //$('#singleOption').clone().appendTo('#optionsDiv');

     let orderNum = $(this).attr('id');
     document.getElementById('Current').value = orderNum;
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: '/OptionQuestion/AddOption',
            success: function (partialView) {
                console.log("partialView: " + partialView);
                $('#detailsContainerOptions').html(partialView);
            }
        });
    });</script>


