@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br>

<div class="card col-10 shadow-lg p-3 mb-5 bg-white rounded" id="textCard">
    <div class="card-header">
        Text Question
        <button id="@Model.OrderNumber" name="deleteTextQuestion" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" placeholder="Type text question here..."/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="custom-control custom-switch float-right" style="display: flex; justify-content: space-around">
                <input asp-for="IsRequired" type="checkbox" class="custom-control-input" id="2 + @Model.OrderNumber + text1">
                <label class="custom-control-label" for="2 + @Model.OrderNumber + text1">Required</label>
            </div>
            <div class="custom-control custom-switch float-right">
                <input asp-for="IsLongAnswer" type="checkbox" class="custom-control-input" id="1 + @Model.OrderNumber + text2">
                <label class="custom-control-label" for="1 + @Model.OrderNumber + text2">Long answer</label>
            </div>
        </div>
    </div>
</div>
<br>
@Html.Hidden("OrderNumber", Model.OrderNumber)
@Html.Hidden("Type", Model.Type)
@Html.Hidden("Id", Model.Id)
@Html.Hidden("EditMode", Model.EditMode)



<script>
    $("button[name='deleteTextQuestion']").on('click', function () {
        $(this).parent().parent().remove();
        let orderNumber = $(this).attr('id');
        document.getElementById('Current').value = orderNumber;
        $.ajax({
            async: true,
            data: $('#form').serialize(),
            type: "POST",
            url: '/Form/DeleteQuestion',
            success: function (partialView) {
                $('#detailsContainer').empty();
                $('#detailsContainer').html(partialView);
            }
        });
    });
</script>