@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel

<br>
<div class="card" id="textCard">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="col-md-12">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <div class="form-group">
                    <label for="Title">@Model.Text</label>
                    <input type="hidden" asp-for="@Model.Text" />
                </div>
                <input type="hidden" asp-for="@Model.Id">
                <input type="hidden" asp-for="@Model.Type">
                <input type="hidden" asp-for="@Model.IsRequired">
                <input type="hidden" asp-for="@Model.OrderNumber">
            </div>
            @if (@Model.IsLongAnswer)
            {
                <textarea class="form-control" label id="Answer" rows="4" cols="50" asp-for="@Model.TextAnswer"></textarea>
            }
            else
            {
                <input class="form-control" type="text" id="Answer" asp-for="@Model.TextAnswer"><br><br>
            }
        </div>
    </div>
</div>
<br>



