@model AlphaMetrixForms.Web.Models.Question.QuestionViewModel
@{
    int orderNum = Model.OrderNumber + 1;
    string text = $"{orderNum}. {Model.Text}";
}
<br>
<div id="textCard" class="card col-10 shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-header">
        <label for="Title">@text</label>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Text" />
                </div>
                <input type="hidden" asp-for="@Model.Id">
                <input type="hidden" asp-for="@Model.Type">
                <input type="hidden" asp-for="@Model.IsRequired">
                <input type="hidden" asp-for="@Model.OrderNumber">
            </div>
            @if (@Model.IsLongAnswer)
            {
                <textarea class="form-control" label id="Answer" rows="4" cols="50" asp-for="@Model.TextAnswer"></textarea>
            }
            else
            {
                <input class="form-control" type="text" id="Answer" asp-for="@Model.TextAnswer"><br><br>
            }
        </div>
    </div>
</div>
<br>



