@model AlphaMetrixForms.Web.Models.Response.ResponseDisplayModel

@{
    ViewData["Title"] = "DisplayResponseView";
}

<div class="card">
    <div class="card-header">
        <h3>@Model.Title</h3>
    </div>
    <div class="card-body">
        <div class="col-md-6">
            <form >
                <input type="hidden" asp-for="@Model.Title" />
                <h6>@Model.Description</h6>
                <input type="hidden" asp-for="@Model.Description" />
                <div id="answers">
                    @foreach (var answer in Model.Answers)
                    {
                        if (answer.Type == AlphaMetrixForms.Web.Models.Enums.QuestionType.Text)
                        {
                            <br>
                            <div class="card" id="textCard">
                                <div class="card-header">
                                    <label for="Title">@answer.Text</label>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <h4>@answer.Answer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        }
                        else if (answer.Type == AlphaMetrixForms.Web.Models.Enums.QuestionType.Option)
                        {
                            <br>
                            <div class="card" id="textCard">
                                <div class="card-header">
                                    <label for="Title">@answer.Text</label>
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @foreach (var text in answer.Answers)
                                            {
                                                <h4>* @text</h4>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        }
                        else
                        {

                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
