@model AlphaMetrixForms.Web.Models.Response.ResponseViewModel

@{
    ViewData["Title"] = "DisplayFormView";
}

<div class="card">
    <div class="card-header">
        Form
    </div>
    <div class="card-body">
        <div class="col-md-6">
            <form id="form" asp-controller="Response" asp-action="SubmitResponse">
                <h3>@Model.Title</h3>
                <input type="hidden" asp-for="@Model.Title" />
                <h6>@Model.Description</h6>
                <input type="hidden" asp-for="@Model.Description" />
                <div id="questions">
                    <input type="hidden" asp-for="@Model.FormId">
                    @Html.EditorFor(model => model.Questions)
                </div>
                <input type="submit" class="=btn btn-primary">Submit Response</>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/Response/SubmitResponse',
                success: function () {
                    swal("Perfect! You just submitted your answer!", {
                        icon: "success",
                    })
                        .then(() => {
                            window.location.replace("https://localhost:44366/Form")
                        });
                },
                error: function (xhr) {
                    swal(xhr.responseJSON.responseText);
                }
            });
        });
    </script>

}


