@model AlphaMetrixForms.Web.Models.Response.ResponseViewModel

@{
    ViewData["Title"] = "Submit Answer";
}
<link rel="stylesheet" href="~/css/center-card.css" />
<br>
<br>
<div class="row justify-content-center">
    <form id="form" enctype="multipart/form-data" asp-controller="Response" asp-action="SubmitResponse" class="col-8 shadow-lg p-3 mb-5 bg-white">
        <input type="hidden" asp-for="@Model.Title" />
        <br>
        <h3>@Model.Title</h3>
        <br>
        <h6><b>@Model.Description</h6>
        <input type="hidden" asp-for="@Model.Description" />
        <div id="questions">
            <input type="hidden" asp-for="@Model.FormId">
            @Html.EditorFor(model => model.Questions)
        </div>
        <input type="submit" value="Submit Response" class="btn btn-primary" />
    </form>
</div>
<br>
<br>
<br>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/display-form.js"></script>
}

