@model AlphaMetrixForms.Web.Utils.PaginatedList<AlphaMetrixForms.Web.Models.Form.FormViewModel>

<div class="container">
    <div class="row">
        @foreach (var form in Model.ToList())
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <a class="card-link" asp-controller="Form" asp-action="Edit" asp-route-id="@form.Id">
                            <h5 class="card-title">@form.Title</h5>
                        </a>

                        <h6 class="card-subtitle mb-2 text-muted">@form.Description</h6>
                        <p class="card-text">Created on: @form.CreatedOn</p>
                        <p class="card-text">Modified on: @form.ModifiedOn</p>
                        <p class="card-text">Answers: @form.Responses.Count</p>
                        <input type="button" name="viewAnswers" class="btn btn-primary" value="View answers">
                        @*<input type="submit" asp-controller="Form" asp-action="Share" id="shareForm" class="btn btn-primary" value="Share">*@
                        <a class="card-link" asp-controller="Form" asp-action="Share" value="Share">Share</a>

                        <input type="button" name="deleteForm" class="btn btn-danger" id="@form.Id" value="Delete">
                    </div>
                </div>
            </div>
        }
    </div>
    <br>
</div>
<a asp-controller="Form" asp-action="Create" class="btn btn-primary">Create New</a>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<br>
<br>





<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<div align="center">
    <a asp-action="MyForms"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="MyForms"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
<br>
<br>
<br>
<br>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="demo" name="email" value="[" hello@gmail.com","world@gmail.com"]">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>





<script>
    $('#demo').multiple_emails();
    $('#current_emails').text($('#demo').val());
    $('#demo').change(function () {
        $('#current_emails').text($(this).val());
    });

    $("input[name='shareForm']").on('click', function () {
        // Swal.fire({
        //title: 'How old are you?',
        //icon: 'question',
        //input: 'range',
        //inputAttributes: {
        //  min: 8,
        //  max: 120,
        //  step: 1
        //},
        //inputValue: 25
        // })

        swal({
            title: 'Input email address',
            content: 'input',
            inputPlaceholder: 'Enter your email address'
        })

        //if (email) {
        //  Swal.fire(`Entered email: ${email}`)
        //}
        //$.ajax({
        //    async: true,
        //    //data: $('#form').serialize(),
        //    type: "POST",
        //    url: '/Form/Share',
        //    success: function () {
        //    }
        //});
    });

    $("input[name='deleteForm']").on('click', function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this form!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {

                if (willDelete) {
                    $.ajax({
                        async: true,
                        data: { "id": this.id },
                        type: "POST",
                        url: '/Form/Delete',
                        success: function () {
                            swal("Poof! Your form has been deleted!", {
                                icon: "success",
                            })
                                .then(() => {
                                    window.location.replace("https://localhost:44366/User/MyForms")
                                });
                        }
                    });

                } else {
                    swal("Your form is safe!");
                }
            });
    });


</script>